<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Template-Selector</title>
<link rel="stylesheet" href="styles.css">
</head>
<body>
	<div class="inputDiv">
		<label for="templateselector">Choose a Template:</label> <select
			name="templateselection" id="templateselector"
			oninput="changeTemplate()">
			<option value="Select" id="templateselector">Select</option>
			<option value="template1" id="templateselector">Lex-Template</option>
			<option value="template2" id="templateselector">AnswerForce-Template</option>
		</select>
	</div>

	<br />
	<br />

	<div id="myForm" class="myForm"></div>

	<div class="inputDiv1">
		<button type="button" onclick="preview()" id="preview">Preview</button>
	</div>

	<br />
	<br />

	<div id="display" style="position: relative; top: -90px"></div>

	<button id="download-btn" onclick="downloadTemplate()"
		style="position: relative; left: 350px; top: -240px">
		Download</button>
</body>
<script type = "text/javascript" src="templatefunction.js">
	  
</script>
</html>