<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>AnswerForce-Template</title>
</head>
<body>

 <div id="Template" class="template2" style="position: relative; left: 350px; top: -150px">
    <table class="template2table1" style="
          min-width: 575px;
          margin: 0px;
          box-sizing: border-box;
          background: #ffffff;
          width: 575px;
          border-collapse: collapse;
        ">
      <tbody>
        <tr>
          <td class="template2image" style="
                padding: 0px;
                width: 117px;
                vertical-align: top;
                text-align: center;
                font-size: 0;
                background-color: #ffffff;
              ">
            <img src="#" class="template2setimage" id="imagesetup" style="
                  width: 117px;
                  height: 130px;
                  max-width: 117;
                  max-height: 130px;
                  font-size: 0;
                  color: #ddd;
                " alt="user pic" />
          </td>
          <td class="template2icon" style="
                padding: 0px 0 0 16px;
                vertical-align: middle;
                background: #ffffff;
              ">
            <p class="template2iconpara" style="
                  font-family: Arial, sans-serif;
                  color: #2181bc;
                  font-size: 0;
                  margin: 0;
                  padding: 2px 0 0;
                  font-weight: 400;
                ">
              <a href="https://www.answerforce.com/" class="template2iconlink" target="_blank" style="
                    border-radius: 100%;
                    box-sizing: border-box;
                    margin: 0;
                    display: inline-block;
                    font-size: 0;
                  ">
                <img src="https://cdn.contactcenterworld.com/images/company/answerforce-1200px-logo.png"
                  alt="AnswerForceLogo" class="template2logo" style="
                      width: 111px;
                      height: 25px;
                      max-height: 100px;
                      max-width: 111px;
                      display: block;
                      font-size: 0;
                      color: #ddd;
                    " />
              </a>
            </p>
            <p id="nameResult" class="templateusernameResult" style="
                  font-family: Arial, sans-serif;
                  margin: 9px 0 4px;
                  font-size: 18px;
                  line-height: 21px;
                  font-weight: bold;
                  color: #33393d;
                "></p>
            <p id="designationResult" class="template2designationResult" style="
                  font-family: Arial, sans-serif;
                  margin: 0 0 12px;
                  font-size: 11px;
                  line-height: 13px;
                  color: #999c9e;
                "></p>
            <table class="template2table2" style="
                  width: 100%;
                  background-color: #3270d8;
                  border-radius: 6px 6px 6px 0;
                  border-collapse: collapse;
                ">
              <tbody>
                <tr>
                  <td class="template2mobile" style="
                        padding: 12px 12px 12px 12px;
                        text-align: left;
                        vertical-align: middle;
                      ">
                    <p class="template2mobilepara" style="
                          font-family: Arial, sans-serif;
                          color: #ffffff;
                          text-decoration: initial;
                          font-size: 0px;
                          margin: 0 0 6px;
                        ">
                      <a id="mobileLink" href="#" target="_self" class="template2mobilelink" style="
                            text-decoration: initial;
                            color: #ffffff;
                            font-size: 0;
                            display: inline-block;
                          ">
                        <span id="mobileResult" class="template2mobileResult" style="
                              text-decoration: initial;
                              color: #ffffff;
                              font-size: 11px;
                              line-height: 12px;
                            "></span>
                      </a>
                    </p>
                    <p class="template2email" style="
                          font-family: Arial, sans-serif;
                          color: #ffffff;
                          font-size: 0px;
                          margin: 0;
                        ">
                      <a id="emailLink" href="#" target="_self" class="template2emaillink" style="
                            text-decoration: initial;
                            color: #ffffff;
                            font-size: 0;
                          ">
                        <span id="emailResult" class="template2emailResult" style="
                              text-decoration: initial;
                              color: #ffffff;
                              font-size: 11px;
                              line-height: 12px;
                            "></span>
                      </a>
                    </p>
                  </td>
                  <td class="template2bookappointment" style="
                        padding: 12px 16px 12px 16px;
                        text-align: right;
                        vertical-align: middle;
                      ">
                    <p id="bookingappointment" class="template2bookappointmentpara" style="
                          margin: 0;
                          font-family: Arial, sans-serif;
                          color: #ffffff;
                          font-size: 0;
                        ">
                      <a href="#" target="_blank" class="template2bookappointmentlink" id="bookappointmentlink" style="
                            text-decoration: initial;
                            color: #ffffff;
                            font-size: 0;
                          ">
                        <img
                          src="https://storage.googleapis.com/email_signatures/Answerforce_US/images/book-appointment@2x.png"
                          alt="calendar icon" class="template2calenderimage" style="
                              width: 199px;
                              height: 30px;
                              max-width: 199px;
                              max-height: 30px;
                              vertical-align: middle;
                              font-size: 0;
                              color: #ddd;
                            " />
                      </a>
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
            <img src="https://storage.googleapis.com/email_signatures/Answerforce_US/images/partners-logo-strip.png"
              alt="Partners Logo Strip" class="template2footerimage" style="
                  width: 353px;
                  height: 46px;
                  max-width: 353px;
                  max-height: 46px;
                  font-size: 0;
                  color: #ddd;
                " />
          </td>
        </tr>
      </tbody>
    </table>
    <br />
  </div>
</body>
</html>