<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>LEX-Template</title>
</head>

<body>

	<div id="Template" class="template1"
		style="position: relative; left: 350px; top: -150px">
		<table class="template1table1"
			style="min-width: 313px; margin: 0px; box-sizing: border-box; border-collapse: collapse; background-color: #ffffff;">
			<tr>
				<td class="table1image1"
					style="width: 125px; height: 156px; vertical-align: top; text-align: right;">
					<img src="#" id="imagesetup" class="table1image1set" width="125px"
					height="156px"
					style="width: 125px; height: 156px; font-size: 16px; color: #303030;" />
				</td>
				<td id="text" class="table1username"
					style="padding: 4px 0 0 24px; vertical-align: top">
					<p id="nameResult" class="table1usernameResult"
						style="font-family: Arial, Helvetica, sans-serif; font-weight: 600; color: #006ec8; font-size: 20px; margin: 0 0 4px; line-height: 24px; letter-spacing: 0.8px;">
						<b style="font-weight: 600"></b>
					</p>
					<p id="designationResult" class="table1designationResult"
						style="font-family: Arial, Helvetica, sans-serif; color: rgba(48, 48, 48, 0.6); font-size: 16px; margin: 0 0 10px; font-weight: 400; line-height: 18px;"></p>
					<hr id="space" class="table1space" width="44px"
						style="width: 44px; border: 0; border-top: 1px solid #83838333; margin: 0 0 20px; max-width: 44px;" />
					<p class="table1emailResult"
						style="margin: 0 0 10px; font-family: Arial, Helvetica, sans-serif; color: #303030; font-size: 16px; font-weight: 400; line-height: 18px;">
						<a href="#" id="emailLink" class="table1emailLink" target="_self"
							style="font-family: Arial, Helvetica, sans-serif; color: #303030; font-size: 16px; font-weight: 400; line-height: 18px; text-decoration: none; cursor: pointer;">
							<span id="emailResult"></span>
						</a>
					</p>
					<p class="table1mobileResult"
						style="margin: 0 0 10px; font-family: Arial, Helvetica, sans-serif; color: #303030; font-size: 16px; font-weight: 400; line-height: 18px;">
						<a href="#" id="mobileLink" class="table1mobileLink"
							style="font-family: Arial, Helvetica, sans-serif; color: #303030; font-size: 16px; font-weight: 400; line-height: 18px; text-decoration: none; cursor: pointer;">
							<span id="mobileResult"></span>
						</a>
					</p>
					<p id="bookingappointment" class="table1bookappointment"
						style="margin: 0; font-family: Arial, Helvetica, sans-serif; color: #303030; font-size: 16px; font-weight: 400; line-height: 18px;">
						<a href="#" class="table1bookappointmentlink"
							id="bookappointmentlink" target="_blank"
							style="font-family: Arial, Helvetica, sans-serif; color: #303030; font-size: 16px; font-weight: 400; line-height: 18px; text-decoration: none; cursor: pointer;">Book
							appointment</a>
					</p>
				</td>
			</tr>
		</table>
		<br />
	</div>
</body>
</html>

